@import "vars";

.panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .4s ease all;
    box-sizing: border-box;
    
    &__content {
        width: 100%;
        padding: 6px 12px;
        @include flex(row, space-between, center);
    }
}
